* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding-bottom: 3rem; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#main-container {
  border: 1px solid blue;
  height: 600px;
  width: 600px;
  margin: auto;
  /* background-color: black; */
}

#chat-title {
  border: 1px solid red;
  height: 50px;
  width: 600px;
  /* color: white; */
}

#main-chat {
  border: 1px solid purple;
  height: 500px;
  /* change width to 400 in full screen */
  width: 400px;
  margin: 0px 15px;
}

#online-users {
  border: 1px solid teal;
  height: 500px;
  width: 150px;
  margin-left: 5px;
}

#form-ctr {
  border: 1px solid black;
  height: 40px;
  width: 600px;
  padding-top: 4px;
  display: flex;
  flex-grow: 1;
}

#handle {
  width: 403px;
}

#message {
  width: 106px;
}

li {
  list-style: none;
}


.col-md-9 {
  padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}