* {
  box-sizing: border-box;
}
body {
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#main-intro-ctr {
  border: 1px solid red;
  height: 300px;
  width: 500px;
  margin: auto;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3c9a72e-75c9-47af-bd6c-f7ae38cf88c1/d840vh-e0c852d0-1fc8-4090-802e-334a54f18e99.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzYzlhNzJlLTc1YzktNDdhZi1iZDZjLWY3YWUzOGNmODhjMVwvZDg0MHZoLWUwYzg1MmQwLTFmYzgtNDA5MC04MDJlLTMzNGE1NGYxOGU5OS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.5SXOCFQ16MfmLFDTgrJS_0hCm-7l2YNbMEqbx-NAxMo");
}

#header-ctr {
  font-size: 26px;
  text-align: center;
  margin-top: 15%;
  color: white;
}

#input-ctr {
  font-size: 20px;
  border-radius: 10px;
  opacity: 90%;
  margin-left: 130px;
  margin-top: 50px;
}

#username {
  width: 150px;
  border-radius: 10px;
  opacity: 90%;
}
#btn {
  border-radius: 10px;
  opacity: 90%;
}
